{% extends 'base.html.twig' %}

{% block title %}Soutien Scolaire{% endblock %}

{% block body %}


<div class="container">
	<h1 class="h1 mt-3">
		Soutien disponible chez nous : 
		<br>
		<h3 class="bg bg-light"> Du CP à la Terminale</h3>
	</h1>
	<hr>
	<div class="row">
		<div class="col-sm-4">
			<div class="card m-3"  id="card_soutien">
				<img class="card-img-top mx-auto d-block" src="../img/francais.jpg" id="img-card-s" alt="the image alt text here">
				<div class="card-body text-center d-flex flex-column justify-content-center">
					<h2 class="card-title">Français</h2>
					
					<a href="#" class="btn btn-warning mt-auto">Plus d'info</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card m-3"  id="card_soutien">
				<img class="card-img-top mx-auto d-block" src="../img/math.png" id="img-card-s" alt="the image alt text here">
				<div class="card-body text-center d-flex flex-column justify-content-center">
					<h2 class="card-title">Mathématique</h2>
					
					<a href="#" class="btn btn-warning mt-auto">plus d'info</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card m-3"  id="card_soutien">
				<img class="card-img-top mx-auto d-block" src="../img/anglais.png" id="img-card-s" alt="the image alt text here">
				<div class="card-body text-center d-flex flex-column justify-content-center">
					<h2 class="card-title">Anglais</h2>
					
					<a href="#" class="btn btn-warning mt-auto">plus d'info</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card m-3"  id="card_soutien">
				<img class="card-img-top mx-auto d-block" src="../img/histoire.jpg" id="img-card-s" alt="the image alt text here">
				<div class="card-body text-center d-flex flex-column justify-content-center">
					<h2 class="card-title">Histoire</h2>
					
					<a href="#" class="btn btn-warning mt-auto">plus d'info</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card m-3"  id="card_soutien">
				<img class="card-img-top mx-auto d-block" src="../img/geographie.png"  id="img-card-s" alt="the image alt text here">
				<div class="card-body text-center d-flex flex-column justify-content-center">
					<h2 class="card-title">Géographie</h2>
					
					<a href="#" class="btn btn-warning mt-auto">plus d'info</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}
