{% extends 'base.html.twig' %}

{% block title %}
  Inscription Soutien
{% endblock %}

{% block body %}
  <div class="container mt-3">
    <h1 class="ml-4" id="new">
      S'inscrire au soutien scolaire : 
    </h1>

    {{ include('soutien/_form.html.twig') }}

  </div>
{% endblock %}
