{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
	<h1 class="h1 mt-3">Formation disponible chez nous :</h1>
	<hr>
	<div class="row" id="row_formation">
		<div class="col-sm-4">
			<div class="card m-3" id="card_formation_top">
				<img class="card-img-top mx-auto d-block" src="../img/rh.jpg" id="img-card" alt="the image alt text here">
				<div class="card-body text-center d-flex flex-column ">
					<h2 class="card-title">RESSOURCES HUMAINES</h2>
					<p class="mt-auto" id="p-formation">
						Plusieurs modules vous sont proposés pour la gestion de ressources humaines , du droit du travail à la GPEC (Gestion Prévisionnelle des Emplois et des Compétences)
					</p>
					<a href="#" class="btn btn-warning mt-auto" id="p-formation">plus d'info</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card m-3" id="card_formation_top">
				<img class="card-img-top mx-auto d-block" src="../img/acquis.jpg" id="img-card" alt="the image alt text here">
				<div class="card-body text-center d-flex flex-column ">
					<h2 class="card-title">VALIDATION DES ACQUIS</h2>
					<p class="mt-auto" id="p-formation">
						La validation des acquis de l’expérience permet, à toute personne engagée dans la vie active, d’obtenir une certification professionnelle par la validation de son expérience acquise dans le cadre d’une activité professionnelle et/ou extra-professionnelle. 
					</p>
					<a href="#" class="btn btn-warning mt-auto" id="p-formation">plus d'info</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card m-3" id="card_formation_top">
				<img class="card-img-top mx-auto d-block" src="../img/paie.png" id="img-card" alt="the image alt text here">
				<div class="card-body text-center d-flex flex-column ">
					<h2 class="card-title">LA PAIE</h2>
					<p class="mt-auto" id="p-formation">
						Maîtriser la pratique de la paie avec les bons outils avec une bonne relation des différents acteurs 
					</p>
					<a href="#" class="btn btn-warning mt-auto" id="p-formation">plus d'info</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card m-3" id="card_formation_middle">
				<img class="card-img-top mx-auto d-block" src="../img/compta.jpg" id="img-card" alt="the image alt text here">
				<div class="card-body text-center d-flex flex-column ">
					<h2 class="card-title">COMPTABILITÉ</h2>
					<p class="mt-auto" id="p-formation">
						Plusieurs modules vous sont proposés de la comptabilité de base à l'élaboration des documents de synthèse 
					</p>
					<a href="#" class="btn btn-warning mt-auto" id="p-formation">plus d'info</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card m-3" id="card_formation_middle">
				<img class="card-img-top mx-auto d-block" src="../img/icon-4.png" id="img-card" alt="the image alt text here">
				<div class="card-body text-center d-flex flex-column ">
					<h2 class="card-title">LA MALETTE DU DIRIGEANT</h2>
					<p class="mt-auto" id="p-formation">
						Trois grands modules pour le pilotage de votre entreprise 
					</p>
					<a href="#" class="btn btn-warning mt-auto" id="p-formation">plus d'info</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card m-3" id="card_formation_middle">
				<img class="card-img-top mx-auto d-block" src="../img/fisc.jpg"  id="img-card" alt="the image alt text here">
				<div class="card-body text-center d-flex flex-column ">
					<h2 class="card-title">FISCALITÉ</h2>
					<p class="mt-auto" id="p-formation">
						Des modules types pour appréhender au mieux les différents régimes fiscaux
					</p>
					<a href="#" class="btn btn-warning mt-auto" id="p-formation">plus d'info</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card m-3" id="card_formation_bot">
				<img class="card-img-top mx-auto d-block" src="../img/pack.jpg" id="img-card" alt="the image alt text here">
				<div class="card-body text-center d-flex flex-column ">
					<h2 class="card-title">BUREAUTIQUE</h2>
					<p class="mt-auto" id="p-formation">
						Maîtriser le pack office(word, excel , powerpoint), tout l'environnement informatique et de l'internet 
					</p>
					<a href="#" class="btn btn-warning mt-auto" id="p-formation">plus d'info</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card m-3" id="card_formation_bot">
				<img class="card-img-top mx-auto d-block" src="../img/etude.jpg" id="img-card" alt="the image alt text here">
				<div class="card-body text-center d-flex flex-column ">
					<h2 class="card-title">TECHNIQUE DE RECHERCHE D'EMPLOI</h2>
					<p class="mt-auto" id="p-formation">
						Tout les bons outils et coaching individuel ou collectif pour décrocher un emploi 
					</p>
					<a href="#" class="btn btn-warning mt-auto" id="p-formation">plus d'info</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card m-3" id="card_formation_bot">
				<img class="card-img-top mx-auto d-block" src="../img/ebp.png" id="img-card" alt="the image alt text here">
				<div class="card-body text-center d-flex flex-column ">
					<h2 class="card-title">EBP</h2>
					<p class="mt-auto" id="p-formation">
						Vente de logiciel EBP et formation assuré 
					</p>
					<a href="#" class="btn btn-warning mt-auto" id="p-formation">plus d'info</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
