{% extends 'base.html.twig' %}

{% block title %}
  Détails formations
{% endblock %}

{% block body %}
  <div class="container">
	<h1 class="h1 mt-3">Formation Bureautique : </h1>
	<hr>
	<div class="row" id="row_formation">
		<div class="col-sm-4">
			<div class="card m-3" id="card_formation_top">
				<img class="card-img-top mx-auto d-block" src="../img/rh.jpg" id="img-card" alt="the image alt text here">
				<div class="card-body text-center d-flex flex-column ">
					<h2 class="card-title">Microsoft Office</h2>
					<p class="mt-auto" id="p-formation">
						Plusieurs modules vous sont proposés pour la gestion de ressources humaines , du droit du travail à la GPEC (Gestion Prévisionnelle des Emplois et des Compétences)
					</p>
					<a href="{{ asset('pdf/ARH.pdf')}}" target="blank" class="btn btn-warning mt-auto" id="p-formation">plus d'info</a>
				</div>
			</div>
		</div>
</div>
</div>

  
{% endblock %}
