{% extends 'base.html.twig' %}

{% block title %}
  Inscription Formation
{% endblock %}

{% block body %}
  <div class="container mt-3 ">
    <h1 class="ml-4" id="new">
      S'inscrire à une formation : 
    </h1>

    {{ include('formation/_form.html.twig') }}
  </div>

  
{% endblock %}
