{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="checkbox"> J'ai lu et j'approuve la politique de confidentialité <br><br>
    <button class="btn btn-danger">{{ button_label|default('Envoyer') }}</button>
{{ form_end(form) }}
