{% extends 'base.html.twig' %}

{% block title %}
  Inscription
{% endblock %}

{% block body %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success bg-danger">
      {{ message }}
    </div>
  {% endfor %}

  <div class="container mt-5">
    <h1>
      Formulaire d'inscription
    </h1>

    {{ include('choix/_form.html.twig') }}
  </div>
{% endblock %}
