{% extends 'base.html.twig' %}

{% block title %}New FormationScp{% endblock %}

{% block body %}
    <h1>Create new FormationScp</h1>

    {{ include('formation_scp/_form.html.twig') }}

    <a href="{{ path('formation_scp_index') }}">back to list</a>
{% endblock %}
